.modal {
    background-color: rgba(132, 0, 255, 0.235);
    width: 300px; /* Largura do modal */
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 50%; /* Centraliza verticalmente no meio da tela */
    left: 50%; /* Centraliza horizontalmente no meio da tela */
    transform: translate(-50%, -50%); /* Corrige a posição centralizada */
    border-radius: 5px;
  }
  
  /* Estilo para os campos de input */
  .form-group {
    margin-bottom: 15px;
    color: #ffff;
    text-align: center; /* Centraliza os campos de input */
  }
  
  .form-group input {
    font-weight: 400;
    color: #ffff;
    width: 80%; /* Torna os inputs do mesmo tamanho */
    padding: 10px;
    border: none; /* Remove a borda dos inputs */
    background-color: transparent; /* Remove o fundo dos inputs */
    border-bottom: 1px solid #ffffff; /* Adiciona uma borda na parte inferior dos inputs */
    outline: none; /* Remove o contorno ao focar nos inputs */
  }